target/
.git/
.idea/
*.iml
.vscode/
docs/
helm/
k8s-batch-integration-tests/src/
k8s-batch-integration-tests/target/
k8s-batch-e2e-tests/src/
k8s-batch-e2e-tests/target/
*.md
.gitignore
docker-compose*.yml
